# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# All files in this repository are owned by @memphis242
* @memphis242
